.card {
    background-color:#fff;
    border: 1px solid #d4d4d4;
    height:100px;
    margin-bottom: 20px;
    position: relative;
}

.cardHeader {
    background-color:#027FF4;
    font-size:10pt;
    color:white;
    padding:5px;
    width:100%;
    font-weight: bold; 
}

.cardClose {
    color: white;
    font-weight:bold;
}

.cardContainer {
    width:100%;
}

.cardBody {
    padding: 8px 5px 10px 5px;
}
.search-button {
    padding: 0
}
.cardBodyLeft {
    margin-top: -5px;
}

.cardBodyRight {
    margin-left: 20px;
    margin-top: 2px;
}

.cardBodyContent {
    width: 100px;
    font-size: 12px;
}

.cardImage {
    height:50px;width:50px;margin-top:7px;
}

.lastRow {
    background-color: #ccc;
}

.indent {
    margin-left:5px;
}

.ordersTable {
    width:85%;
}

.orders th, .customers th {
    width:20%;
    cursor: pointer;
}

.ordersTable tr:first-child th, .customersTable tr:first-child th {
    background-color: #027FF4;
    color: #fff;
    font-weight: bold;
}

.gridContainer td {
    vertical-align: middle;
}


#submitCustomer {
    margin-left:50px;
    margin-top: -8px;
}


.customerEdit input[type='text'], 
.customerEdit input[type='number'],
.customerEdit input[type='email'],
.customerEdit select,
.login input[type='text'], 
.login input[type='email'],
.login input[type='password'] {
    width:250px;
}

.statusRow {
    height:50px;
}


.cardContainer .col-md-3 {
    padding-left: 0px;
}

.gridContainer  div {
    padding-left: 0px;
}
.card-view-layout {
    margin-top: 25px;
}
.navbar-brand {
    float:none;
}
.navbar-brand>img {
    display: inline
}
a.navbar-brand {
    color: #fff;
}

.navbar-inner {
    padding-left: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #027FF4;
    background-image: none;
}

.navbar-inner.toolbar {
    background-color: #fafafa;
}

.navbar-inner.footer {
    background-color: #fafafa;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height:50px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: #efefef;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #808080;
}

.navbar .nav li.toolbaritem a:hover, .navbar .nav li a:hover {
    color: #808080;
}

.navbar .nav > li  {
    cursor:pointer;
}

    .navbar .nav > li > a {
        color: white;
        font-weight:bold;
        -webkit-text-shadow: none;
        text-shadow: none;
        height:30px;
        padding-top: 6px;
        padding-bottom: 0px;
    }

    .navbar .nav > li.toolbaritem > a {
        color: black;
        font-weight:bold;
        -webkit-text-shadow: none;
        text-shadow: none;
    }


.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: 0 1px 00px rgba(0, 0, 0, 0);
     -moz-box-shadow: 0 1px 00px rgba(0, 0, 0, 0);
          box-shadow: 0 1px 00px rgba(0, 0, 0, 0);
}

.nav.navBarPadding {
    margin-left:25px;
    margin-top: 10px;
}

.navbarText {
    font-weight:bold;
    margin-top:3px;
}
.navbar-form {
    margin: 0;
}
.navbar .brand {
    margin-top: 2px;
    color: #fff;
    -webkit-text-shadow: none;
    text-shadow: none;
}

.navbar-toggle {
  border: 1px solid white;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.close {
    font-size:15pt;
    opacity: 1.0;
}
.white {
    color: #fff;
}

.errorMessage {
    position:absolute;
    padding: 5px;
    background-color: #E03930;
    color:white;
    top:0px;
    left:270px;
}

.editIcon {
    margin-top: 2px;
}

.pagination li {
    cursor: pointer;
}
.ngx-pagination {
    clear: left
}
.addoredit-view {
    margin-top: 80px;
    width: 40%; 
}
.customer-icon {
    margin-top: -7px;
    float: left;
    margin-right: 12px;
    margin-left: 14px;
}
.customer-icon img{
    height: 30px;
    margin-top: 6px
}
.order-management h3{
    display: inline;
    font-size: 12px;
    padding-left: 15px;
    cursor: pointer;
}
.customer-order {
    padding: 0 35px 0 45px !important;
    opacity: 0.4;
}
.order-management h2{
    margin-bottom: 25px; 
}
.edit-cutomer {
    opacity: 0.4;
}
.show-details img {
    height:80px
}

.show-details ul li {
   list-style: none;
}
.cursorHand {
    cursor: pointer;
}
agm-map {
    height: 300px;
     width: 50%;
  }
.gMap {
    margin: 20px 0 30px 0;
}
.customer-table th, .customer-table td {
    text-align: center
}
.ngx-pagination {
    text-align: right;
}
.pageNotFound {
    color: #E03930;
    margin: 200px 0;
    font-size: 30px;
    text-align: center  
}
.mLeft {
    margin-left:-15px; 
}
.mRight {
    margin: 2px 15px 0 15px;
}
.customer-edit-icon {
    float: right;
    padding: 2px 7px 0 7px
}
@media screen and (max-width: 640px) {

    navbar-toggle { 
        display: none;
    }

    #ng-view {
        padding-top: 90px;
    }

    .navbar-brand {
        font-size: 12pt;
    }

    .nav.navBarPadding {
        margin-left: -10px;
    }

    .nav > li > a {
        padding-right: 5px;
        padding-left: 5px;
    }

}